@import "tailwindcss";

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes icon-pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-icon-pop-in {
  animation: icon-pop-in 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}